
<div class="category_name">
    <span class="first_cat">Our</span>
    <span class="second_cat">Blogs</span>
  </div>


  <div class="blogs">
    <div class="blog_sidebar">
      <div class="blog_intro">Stay up to date with recent technologies</div>
      <div class="blog_button">
        <a href="" class="prime_col_button">Read more</a>
      </div>
    </div>


    <div class="blog_lists">


      <a href="" class="blog_card">
        <img
          class="blog_image"
          src="https://img.freepik.com/free-photo/winderful-woman-smiling-with-eyes-closed-orangery-beautiful-romantic-woman-standing-frint-flowers_197531-12390.jpg?t=st=1730128367~exp=1730131967~hmac=b1cdc6ed78b8a157430490466109e94d428e9e45f2b971d9447ac175efb02d12&w=740"
          alt=""
        />
        <div class="titles_blog">
          <span class="blog_titles">
            How to build a high-converting website in 2024
          </span>
          <span class="publish_date"> 28th May, 2024 </span>
        </div>
      </a>



      <a href="" class="blog_card">
        <img
          class="blog_image"
          src="https://img.freepik.com/free-photo/winderful-woman-smiling-with-eyes-closed-orangery-beautiful-romantic-woman-standing-frint-flowers_197531-12390.jpg?t=st=1730128367~exp=1730131967~hmac=b1cdc6ed78b8a157430490466109e94d428e9e45f2b971d9447ac175efb02d12&w=740"
          alt=""
        />
        <div class="titles_blog">
          <span class="blog_titles">
            How to build a high-converting website in 2024
          </span>
          <span class="publish_date"> 28th May, 2024 </span>
        </div>
      </a>



      <a href="" class="blog_card">
        <img
          class="blog_image"
          src="https://img.freepik.com/free-photo/winderful-woman-smiling-with-eyes-closed-orangery-beautiful-romantic-woman-standing-frint-flowers_197531-12390.jpg"
          alt=""
        />
        <div class="titles_blog">
          <span class="blog_titles">
            How to build a high-converting website in 2024
          </span>
          <span class="publish_date"> 28th May, 2024 </span>
        </div>
      </a>



    </div>
  </div>