<div class="category_name">
    <span class="first_cat">Estimated</span>
    <span class="second_cat">Prices</span>
  </div>

  <div class="estimated_price">


{% for pricing in pricings %}
  
  {% with pricing.features.all as features %}
    
  
    
  
    <div class="price_card">
      <div class="service_desc">
        <span class="product_name">{{pricing.name}}</span>
        <span class="service_price">{{pricing.price_range}}</span>
      </div>

      <div class="offer_list">
        
        {% for feature in features %}

        <div class="offer_details">
          <span class="check_icons"
            ><i class="bi bi-check2-circle"></i
          ></span>
          <span class="offer_desc">{{feature.feature}}</span>
        </div>

        {% endfor %}

      </div>


      <div class="price_button">
        <a href="{% url 'contact_us' %}" class="green_fill_button">Contact us</a>
      </div>
    </div>

    {% endwith %}
    {% endfor %}

  </div>