{% load static %}
{% load thumbnail %}
<div class="category_name">
    <span class="first_cat">Our</span>
    <span class="second_cat">Reviews</span>
  </div>


  <div class="review_wrapper">


{% for review in reviews %}
    <div class="review_profile">
      <div class="image_wrapper">
        <img
          class="reviewer_image"
          src="
          
          {% if review.image %}
            {% thumbnail review.image 300x0 %}
          {% else %}
            {% static 'img/no_imag.jpg' %}
          {% endif %}
            
          "
          alt="{{review.name}}"
        />
      </div>
      <div class="reviewer_details">
        <p class="reviewer_name">{{review.name}}</p>
        <p class="reviewer_designation">{{review.designation}}</p>
      </div>
      <div class="review_text">
        {{review.review | slice:120}}..
      </div>
    </div>
    {% empty %}
    <div class="empty-review">
      <h2>No Reviews aded yet</h2>
    </div>
 {% endfor %}





    <div class="review_button">
      <a class="call_button" href="{% url 'reviews' %}">see more</a>
    </div>


  </div>
  