{% load static %}
{% load thumbnail %}

<!-----------Category devider ---------------------------->
<div class="category_name">
  <span class="first_cat">Our</span>
  <span class="second_cat">Services</span>
</div>


<div class="service_box">

{% for service in services %}
    <a href="{{service.get_absolute_url}}" class="services">
      <span class="service_svg">
        <img
          class="service_img"
          src="
          {% if service.home_icon %}
            {% thumbnail service.home_icon 200x0 %}
          {% else %}
            {% static 'img/no_img.jpg' %}
          {% endif %}
          "
          alt="{{service.name}}"
        />
      </span>
      <span class="service_name">{{service.name}}</span>
    </a>
{% endfor %}


  </div>

  
  <div class="all_services">
    <a class="all_service_link" href="{% url 'service_page' %}">
      <span class="all_service_name"> Check out our all services</span></a
    >
  </div>