{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock css %}


{% block title %}
    About us
{% endblock title %}



{% block main %}
    <!------------about_header---------------------->
    {% include 'about/about/header.html' %}
  
      <!------------about nav---------------------->
      <div class="about_nav">
        <div class="about_nav_card">
          <a href="#about-msg" class="about_nav_icon"><i class="bi bi-chat-quote"></i></a>
          <a href="#about-msg" class="about_nav_name">Our message</a>
        </div>
  
        <div  class="about_nav_card">
          <a href="#abt-vision" class="about_nav_icon"><i class="bi bi-bullseye"></i></a>
          <a href="#abt-vision" class="about_nav_name">Our vision</a>
        </div>
      </div>
  
      
      <!------------Our message -------->
      {% include 'about/about/message.html' %}
  
      <!------------Our vision -------->
      {% include 'about/about/vision.html' %}
      
      {% include 'about/about/leading_member.html' %}
      
  
      <!------------Our leading member -------->
      {% include 'about/about/member.html' %}
  
      

{% endblock main %}
    