:root {
  --prime_col: #2a1d51;
  --secondary_col: #23adad;
  --background_col: #f0f2f3;
  --prime_font: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background_col);
}

.category_name {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.category_name .second_cat {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.category_name .second_cat::before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: url("../img/scattered.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.first_cat {
  font-size: 1.6rem;
}

.second_cat {
  font-size: 1.6rem;
  color: #fff;
}

@media screen and (min-width: 769px) {
  .category_name .second_cat {
    padding: 5px 20px;
  }

  .first_cat {
    font-size: 2.5rem;
  }

  .second_cat {
    font-size: 2.5rem;
  }
}