@import "base.css";

/*--------------Career header----------*/
.career_header_wrapper {
  position: relative;
  margin-bottom: 3rem;
}

.career_header {
  background: rgba(35, 173, 173, 0.3);
  height: 33vw;
}

.career_header_intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.career_header_subtract {
  width: 40%;
}

.career_header_details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-left: 1.7rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.career_header_titles {
  font-size: 1.4rem;
  font-weight: 600;
}

.career_short_title {
  font-size: 0.8rem;
}

/* .career_button_link {
  text-decoration: none;
  color: #000;
  font-size: 0.5rem;
  border: 1px solid var(--prime_col);
  padding: 0.5rem 1rem;
  border-radius: 15px;
}
.career_button_link:hover {
  background-color: var(--prime_col);
  border: unset;
  color: #fff;
} */
.career_header_img {
  position: absolute;
  right: 0.8rem;
  top: 0.7rem;
  width: 6rem;
  height: 6rem;
  z-index: 1;
  object-fit: cover;
}

/*----------Open Roles -----------*/
.position_list_wrapper {
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  margin: 1rem 0;
  /* margin: 1rem 1.875rem; */
}

/* .role_divider {
  border-bottom: 1px solid blue;
} */
.position_name {
  /* display: inline-block; */
  font-size: 1.5rem;
  font-weight: 500;
  /* margin-top: 2rem; */
}

.position_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.7rem;
  border: 1.5px solid var(--secondary_col);
  /* margin: 2rem; */
  margin: 1rem 0;
  border-radius: 15px;
  border-left: 1.5rem solid var(--secondary_col);
}

.role_desc {
  font-size: 1rem;
}

.role_deadline {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--secondary_col);
}

.apply_link {
  /* margin-left: center; */
  align-self: center;
  background-color: var(--prime_col);
  border-radius: 0.938rem;
  padding: .7rem;
  font-size: 1rem;
  /* margin: 0.625rem 0 0 0; */
  text-decoration: none;
  color: #fff;
}

.apply_link:hover {
  background-color: #23adad;
  border: unset;
  color: #fff;
}

@media screen and (min-width: 499px) {
  .career_header_img {
    width: 8rem;
    height: 6rem;
    right: 2rem;
    top: 2rem;
  }

  .role_desc {
    font-size: 1.2rem;
  }

  .role_deadline {
    font-size: 1rem;
  }
}

.job-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}


@media screen and (min-width: 600px) {
  .career_header_img {
    width: 10rem;
    height: 8rem;
    right: 3rem;
    top: 3rem;
  }
}

@media screen and (min-width: 769px) {
  .career_header_titles {
    font-size: 1.8rem;
  }

  .career_header_details {
    gap: 0.5rem;
  }

  .career_button_link {
    font-size: 1rem;
  }

  .career_header_img {
    width: 17rem;
    height: 12rem;
    right: 2rem;
  }

  .career_short_title {
    font-size: 1.5rem;
  }

  .position_list_wrapper {
    padding: 1rem;
    margin: 1rem 1.875rem;
  }

  .position_list {
    margin: 2rem;
  }

  .role_desc {
    font-size: 1.4rem;
  }

  .role_deadline {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .career_header_titles {
    font-size: 3.8rem;
  }

  .career_button_link {
    font-size: 1.5rem;
  }

  .career_header_details {
    gap: 1rem;
  }

  .career_header_img {
    width: 18rem;
    height: 15rem;
    right: 3rem;
    top: 3rem;
  }

  /* .role_desc {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .role_deadline {
    font-size: 1.3rem;
  } */
}

@media screen and (min-width: 1299px) {
  .career_header_img {
    width: 21rem;
    height: 16rem;
  }

  .career_header_img {
    right: 3rem;
    top: 4rem;
  }
}

@media screen and (min-width: 1540px) {
  .career_header_titles {
    font-size: 4.8rem;
  }

  .career_header_img {
    width: 35rem;
    height: 23rem;
  }

  .career_header_img {
    right: 2.5rem;
    top: 3.5rem;
  }
}