@import "base.css";

/* Job description header */
.role_background {
  background: rgba(35, 173, 173, 0.3);
  padding: 5rem;
  text-align: center;
}
.job_name {
  font-size: 1.6rem;
  /* font-weight: 500; */
}
.job_deadline {
  display: block;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #000;
}

/*-----job responsibility --------*/
.job_description {
  margin: 2rem;
}
.overview_card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
}
.job_heading {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.job_overview {
  font-size: 0.8rem;
}

.job_responsibility_card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 0;
}
.responsibility_desc {
  font-size: 0.8rem;
}

.job-apply-btn {
  display: inline-block;
  margin-top: 2rem;
  background-color: var(--prime_col);
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 1rem;
}

.job-apply-btn:hover {
  background-color: var(--secondary_col);
}

@media screen and (min-width: 769px) {
  /* Job description header */
  .job_name {
    font-size: 1.9rem;
  }
  .job_deadline {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  /* Job description header */
  .job_name {
    font-size: 2.3rem;
  }
  .job_deadline {
    font-size: 1.3rem;
  }
}