@import "base.css";

.footer_background {
  background-color: var(--prime_col);
  padding: 1rem 0.5rem 0rem 0.4rem;
  margin-top: 6.5rem;
}
.brand_slogan {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.2rem 0 3.3rem 1rem;
  text-align: center;
}
.footer_icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  /* margin: 0; */
}
.footer_icon_list {
  list-style: none;
  margin-bottom: 2.6rem;
}
.footer_icon_link {
  text-decoration: none;
  background-color: #07bcbc;
  
  
  padding: 0.8rem 0.9rem;
  margin: 1rem;
  width: min-content;
  border-radius: 50%;
  font-size: 1.3rem;
  /* color: green; */
}
.footer_icon_link:hover {
  background-color: #056e6e;
  color: #fff;
}

/* nav items */
.footer_nav_items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  margin: 0 0 1rem 0;
}
.footer_nav_items_list {
  list-style: none;
  margin: 0.2rem;
}
.footer_nav_items_link {
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
  opacity: 75%;
  margin: 0 0.7rem 1rem 0;
}
.footer_nav_items_link:hover {
text-decoration:underline;
}

/* --------secondary_link ----------*/

/* --------footer end ----------*/
.footer_logoLink {
  display: flex;
  column-gap: 5px;
  align-items: center;
  text-decoration: none;
  padding: 5px 0 5px 10px;
}
.footer_logoLetter {
  margin-bottom: 3px;
}
.footer_logoLetter_first {
  color: #fff;
  font-size: 15px;
}
.footer_logoLetter_second {
  color: #23adad;
  margin-left: -4px;
  font-size: 15px;
  font-weight: 600;
}
.footer_end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 2rem 0.4rem; */
}
.footer_logoLink {
  width: 50%;
}
.credit {
  color: #fff;
  font-size: 15px;
  width: 50%;
  text-align: end;
  margin-bottom: -4.5rem;
  opacity: 80%;
}
.location {
  color: #fff;
  font-size: 15px;
  width: 50%;
  margin: 0.3rem 0 1rem 0.5rem;
  opacity: 75%;
}
.loopers_mail{
  text-decoration: none;
  color:#fff;
}
@media screen and (min-width: 769px) {
  .brand_slogan {
    font-size: 1.5rem;
  }
  .footer_nav_items_link {
    font-size: 1rem;
  }
  .footer_logoLetter_first {
    font-size: 20px;
  }
  .footer_logoLetter_second {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .brand_slogan {
    font-size: 2rem;
  }
  .footer_nav_items_link {
    font-size: 1.2rem;
  }
}