@import 'base.css';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a1d51;

}

.logoLink {
  display: flex;
  column-gap: 5px;
  align-items: center;
  text-decoration: none;
  padding: 5px 0 5px 10px;
}

.logoLetter {
  margin-bottom: 3px;
}

.logoLetter_first {
  color: #fff;
  font-size: 20px;
}

.logoLetter_second {
  color: #23adad;
  margin-left: -4px;
  font-size: 20px;
  font-weight: 600;
}

.navItems {
  padding-right: 20px;
  z-index: 2;
}

.navItemsMenu_link {
  text-decoration: none;
  all: unset;
}

.navItemsMenu_link:hover {
  background-color: #23adad44;
  border-radius: 5px;
  padding: 0.2rem;
}

.bi {
  color: #fff;
  margin-top: 8px;
  font-size: 25px;
}

.nav_lists {
  list-style-type: none;
  /* position: relative; */
}

.menu_list {
  background: #2a1d51;
  padding: 20px;
  /* border-radius: 25px; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* margin-top: 5px; */
  position: absolute;
  top: 33px;
  right: 0.5px;

  /* margin-left: 40px;  */
  /* display: none; */
}

.nav_items_link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.nav_items_link:hover {
  text-decoration: underline;
}

.hide_nav {
  display: none;
}

@media screen and (min-width: 1020px) {
  .logoLetter_first {
    font-size: 25px;
  }

  .logoLetter_second {
    font-size: 25px;
    font-weight: 600;
  }

  .menu_list {
    position: initial;
    background: none;
    margin-top: 0px;
  }

  .nav_items_link {
    display: initial;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    /* position: revert; */
  }

  .nav_items_link:hover {
    background-color: #23adad44;
    border-radius: 15px;
    text-decoration: none;
    /* color: #fff; */
    /* border-bottom: 1px solid #fff; */
  }

  .nav_items_link.active {
    border-bottom: 2px solid #fff;
    /* color: blue; */
  }

  .navItemsMenu_link {
    display: none;
  }

  .hide_nav {
    display: block;
  }
}