@import 'base.css';

.reviews {
    background-color: white;
    border-radius: 1rem;
    padding: .7rem;
    margin-top: 6rem;
    border-right: 2rem solid var(--secondary_col);
}

.reviews-person {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.review-image {
    width: 40%;
    margin-top: -3rem;
    border-radius: 1rem;
    object-fit: cover;
} 

.review-name{
    font-size: 1.2rem;
    font-weight: 500;
}

.review-description {
    text-align: justify;
    padding: .5rem;
}


@media screen and (min-width: 769px){
    .review-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem;
    }
    .reviews {
        padding: 1.7rem;
    }
    .reviews-person {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .review-image {
        margin-top: -7rem;
    }
    .reviews {
        margin-top: 7rem;
    }
    .review-name{
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .review-description {
        font-size: 1.2rem;
    }
}