{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock css %}


{% block title %}
    Reviews
{% endblock title %}



{% block main %}
     <!-----------Category devider ---------------------------->
     <div class="category_name">
        <span class="first_cat">What people say about</span>
        <span class="second_cat">LoopersIT</span>
      </div>
      <!-- -----------------end of category devider ------------------------ -->

      <div class="review-container">

        
        {% for review in reviews %}

        <div class="reviews">
            <div class="reviews-person">
                <img src="
                
                {% if review.image %}
                    {% thumbnail review.image 300x0 %}
                {% else %}
                {% static 'img/no_img.jpg' %}
                {% endif %}
                    
                " 
                alt="{{review.name}}" class="review-image">
                <div class="name-designation">
                    <h2 class="review-name">{{review.name}}</h2>
                    <p>{{review.designation}}</p>

                </div>
            </div>
            <p class="review-description">
                {{review.review}}
            </p>
        </div>

        {% endfor %}

      </div>
{% endblock main %}
    