{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock css %}


{% block title %}
    Schedule a call
{% endblock title %}



{% block main %}
<div class="schedule_header">
    <h1 class="schedule_headline">Schedule a call with us</h1>
  </div>
  <div class="calender_schedule">
    <!-- Calendly inline widget begin -->
    <div
      class="calendly-inline-widget"
      data-url="https://calendly.com/loopersit/virtual-client-onboarding?hide_gdpr_banner=1&primary_color=23adad"
      style="min-width: 320px; height: 700px"
    ></div>
    </div>

{% endblock main %}


{% block js %}
<script
type="text/javascript"
src="https://assets.calendly.com/assets/external/widget.js"
async
></script>
{% endblock js %}
    
    