{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/sub_service.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub_service_title.css' %}">
{% endblock css %}


{% block title %}
  {{service.name}}
{% endblock title %}
    


{% block main %}
     <!-----------Category devider ---------------------------->
     <!-- <div class="category_name">
        <span class="first_cat">{{service.name}}</span> -->
        <!-- <span class="second_cat">{{service.name}}</span> -->
      <!-- </div> -->
      <!-- -----------------end of category devider ------------------------ -->
      <div class="service_header_headline">
        <h1 class="service_header_title">{{service.name}}</h1>
        <img
          class="service_header_line"
          src="{% static 'img/sub_header_line_final.svg' %}"
          alt=""
        />
      </div>
   
      <div class="sub-service-container">

        
    {% with service.subservices.all as subs %}
    {% for sub in subs %}

      <div class="sub-service">
        <img src="
        
        {% if sub.image %}
            {% thumbnail sub.image 400x0 %}
        {% else %}
            {% static 'img/no_imag.jpg' %}
        {% endif %}
            
        " 
        alt="{{sub.name}}" class="sub-service-img">
        <div class="sub-service-info">
            <h1 class="sub-service-title">{{sub.name}}</h1>
            <p class="sub-service-descr">
                {{sub.description}}
            </p>
            <div class="sub-btn-container">
                <a href="{% url 'schedule_call' %}" class="sub-contact-btn">Request order</a>
            </div>
        </div>
      </div>

      {% endfor %}
      {% endwith %}

      <div class="order-form" id="order">

      </div>

    </div>

{% endblock main %}
    