{% extends 'base.html' %}
{% load static %}



{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog_category_list.css' %}">
{% endblock css %}


{% block title %}
    Blog categories
{% endblock title %}


{% block main %}
<h1 class="category-list-header">Blog categories</h1>
<div class="blog-categories-list-container">
    

    <div class="blog-cateogries-container">
        <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg" 
        alt="" class="blog-categories-img">
        <div class="blog-categories-name-container">
            <a href="" class="blog-categories-link">
                <h2 class="blog-categories-name">Python</h2>
            </a>
        </div>
    </div>


    <div class="blog-cateogries-container">
        <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg" 
        alt="" class="blog-categories-img">
        <div class="blog-categories-name-container">
            <a href="" class="blog-categories-link">
                <h2 class="blog-categories-name">Python</h2>
            </a>
        </div>
    </div>


    <div class="blog-cateogries-container">
        <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg" 
        alt="" class="blog-categories-img">
        <div class="blog-categories-name-container">
            <a href="" class="blog-categories-link">
                <h2 class="blog-categories-name">Python</h2>
            </a>
        </div>
    </div>


    <div class="blog-cateogries-container">
        <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg" 
        alt="" class="blog-categories-img">
        <div class="blog-categories-name-container">
            <a href="" class="blog-categories-link">
                <h2 class="blog-categories-name">Python</h2>
            </a>
        </div>
    </div>



    <div class="blog-cateogries-container">
        <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg" 
        alt="" class="blog-categories-img">
        <div class="blog-categories-name-container">
            <a href="" class="blog-categories-link">
                <h2 class="blog-categories-name">Python</h2>
            </a>
        </div>
    </div>



    <div class="blog-cateogries-container">
        <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg" 
        alt="" class="blog-categories-img">
        <div class="blog-categories-name-container">
            <a href="" class="blog-categories-link">
                <h2 class="blog-categories-name">Python</h2>
            </a>
        </div>
    </div>


    <div class="blog-cateogries-container">
        <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg" 
        alt="" class="blog-categories-img">
        <div class="blog-categories-name-container">
            <a href="" class="blog-categories-link">
                <h2 class="blog-categories-name">Python</h2>
            </a>
        </div>
    </div>



    <div class="blog-cateogries-container">
        <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg" 
        alt="" class="blog-categories-img">
        <div class="blog-categories-name-container">
            <a href="" class="blog-categories-link">
                <h2 class="blog-categories-name">Python</h2>
            </a>
        </div>
    </div>

    
</div>
{% endblock main %}
    