{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
{% endblock css %}


{% block title %}
    Article title 
{% endblock title %}



{% block main %}
<div class="blog-container">
    <div class="blog-details">
        <img src="https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg" alt="" class="blog-img">
        <h1 class="blog-title">The Importance of Responsive Web Design in 2024</h1>
        <div class="blog-info">
            <span class="blog-detail-publish">
                <i class="bi bi-calendar-check"></i> Sep 19, 2024
            </span>
            <span class="read-time">
                <i class="bi bi-clock"></i> 8 minute read
            </span>
        </div>
        <div class="blog-detail-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse harum cum, commodi consequuntur corrupti distinctio error 
            labore enim assumenda. 

            Dignissimos ipsum sint reprehenderit. Iusto quasi aspernatur atque excepturi totam laboriosam eligendi incidunt harum 
            natus sunt iste voluptate obcaecati voluptatem exercitationem, inventore ea, laborum veniam nesciunt dolores, molestiae 
            quam reprehenderit quia! Iste ut vel ipsum excepturi, fugit odit praesentium, dicta voluptatum repellendus nobis atque. 
            
            Numquam mollitia magni iure corrupti eum doloremque maxime quas architecto deleniti aspernatur 
            suscipit id natus quisquam, porro fugiat temporibus. Explicabo beatae minima ratione mollitia! Eum 
            exercitationem reiciendis suscipit nihil facere sapiente, quibusdam fugit nesciunt dolor aperiam, modi, 
            dicta consectetur incidunt enim sunt minima esse aliquid nam quo. Natus placeat illum laudantium, 
            sit dignissimos beatae libero doloremque provident odit cupiditate commodi alias id quaerat quis, ad 
            cum consequuntur mollitia recusandae vel? Impedit accusamus adipisci repellendus voluptatem incidunt mollitia 
            eaque alias natus, placeat sequi, numquam consequuntur, eum tempore hic optio commodi laborum architecto nihil a qui. 
            Laudantium perspiciatis in adipisci quibusdam illum natus doloribus voluptate excepturi quisquam ad! Eos distinctio nostrum, 
            ratione dignissimos ab veritatis minima deleniti reiciendis corrupti, placeat optio quidem fugit obcaecati consequatur 
            mollitia! Veritatis fugit ea, beatae repellendus dolore animi quaerat sapiente laborum eum corporis magni molestias 
            tempore nemo asperiores odio illum eos aliquam optio, quo provident praesentium illo esse, quia atque? Neque nesciunt
             atque aut vero, ipsam amet adipisci quae quos dignissimos libero quia repellendus, voluptates quisquam autem officii
             s optio animi, a repudiandae voluptatum ab quas! 
            Corrupti officiis a corporis in! Culpa dicta perferendis sint.
        </div>
        <div class="social-share">
            Share this article
        </div>
    </div>
    <div class="blog-sidebar">
        <div class="article-search">
            <form action="">
                <input type="text" placeholder="search here">
                <button type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <h2 class="related-article-heading"> Similar articles</h2>
        <div class="related-articles-container">
           
            <div class="related-article">
                <a href="" class="related-artilce-link">
                    <h1 class="related-article-title">How to build a High converting website in 2024</h1>
                </a>
                <span class="related-article-publish">September 15, 2025</span>
            </div>


            
            <div class="related-article">
                <a href="" class="related-artilce-link">
                    <h1 class="related-article-title">How to build a High converting website in 2024</h1>
                </a>
                <span class="related-article-publish">September 15, 2025</span>
            </div>
            <div class="related-article">
                <a href="" class="related-artilce-link">
                    <h1 class="related-article-title">How to build a High converting website in 2024</h1>
                </a>
                <span class="related-article-publish">September 15, 2025</span>
            </div>
            <div class="related-article">
                <a href="" class="related-artilce-link">
                    <h1 class="related-article-title">How to build a High converting website in 2024</h1>
                </a>
                <span class="related-article-publish">September 15, 2025</span>
            </div>
            
        </div>
        
        <h2 class="category-side-header">
            Categories
        </h2>

        <div class="categories-side-container">
            <ul class="side-categories-list">


                <li class="side-category">
                    <a href="" class="side-category-link">python</a>
                </li>


                <li class="side-category">
                    <a href="" class="side-category-link">django</a>
                </li>
                <li class="side-category">
                    <a href="" class="side-category-link">drf</a>
                </li>
                <li class="side-category">
                    <a href="" class="side-category-link">javascript</a>
                </li>
                <li class="side-category">
                    <a href="" class="side-category-link">php</a>
                </li>
                <li class="side-category">
                    <a href="{% url 'blog_categories' %}" class="side-category-link all-btn">See all</a>
                </li>
            </ul>
        </div>



        <h2 class="tag-list-header">Tags</h2>
        <div class="tag-list-container">
            <ul class="tag-lists">


                <li class="tags">
                    <a href="" class="tag-link">#python</a>
                </li>


                <li class="tags">
                    <a href="" class="tag-link">#python</a>
                </li>
                <li class="tags">
                    <a href="" class="tag-link">#python</a>
                </li>
                <li class="tags">
                    <a href="" class="tag-link">#python</a>
                </li>
                <li class="tags">
                    <a href="" class="tag-link">#python</a>
                </li>
            </ul>
        </div>

    </div>
</div>
{% endblock main %}
    