{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
{% endblock css %}


{% block title %}
    Blogs
{% endblock title %}



{% block main %}
<div class="atd">
    <img src="https://img.freepik.com/free-photo/teamwork-making-online-blog_53876-94868.jpg" 
    alt="" class="atd-image">
    <div class="atd-info">
        <span class="atd-batch">Article of the day</span>
        <a href="{% url 'blog_detail' %}" class="atd-title-link">
            <h1 class="atd-title">The future of digital marketing: trends in 2025</h1>
        </a>
        <p class="atd-short-des">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta vitae voluptatibus voluptas! Laborum, 
            amet aliquid quae, dignissimos atque expedita exercitationem blanditiis architecto eius obcaecati fuga!...</p>
        <span class="atd-publish">Sep 21, 2024</span>
    </div>
    
</div>

<div class="category-list-container">
    <ul class="categories-list">
        <li class="categories-item">
            <a href="" class="categories-item-link">Web dev</a>
        </li>
        <li class="categories-item">
            <a href="" class="categories-item-link">Digital marketing</a>
        </li>
        <li class="categories-item">
            <a href="" class="categories-item-link">Ui/Ux design</a>
        </li>
        <li class="categories-item">
            <a href="" class="categories-item-link">Python</a>
        </li>
        <li class="categories-item">
            <a href="" class="categories-item-link">Javascript</a>
        </li>
        <li class="categories-item ">
            <a href="{% url 'blog_categories' %}" class="categories-item-link see-all">See All </a>
        </li>
    </ul>
</div>

<div class="blog-search-container">
    <p class="blog-type">Latest</p>
    <div class="blog-search">
        <form action="" method="get">
            <input type="text" placeholder="seach blogs">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>
</div>

<div class="blog-list-container">


    <div class="blog-list">
        <img src="https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg" 
        alt="" class="blog-list-img">
        <div class="blog-list-info">
            <a href="{% url 'blog_detail' %}" class="title-link">
                <h1 class="blog-list-title">How to build High converting website in 2024</h1>
            </a>
            <p class="blog-list-publish"> October 27, 2025</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aliquid nihil harum praesentium atque velit...</p>
        </div>
    </div>


    <div class="blog-list">
        <img src="https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg" 
        alt="" class="blog-list-img">
        <div class="blog-list-info">
            <a href="{% url 'blog_detail' %}" class="title-link">
                <h1 class="blog-list-title">How to build High converting website in 2024</h1>
            </a>
            <p class="blog-list-publish"> October 27, 2025</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aliquid nihil harum praesentium atque velit...</p>
        </div>
    </div>


    <div class="blog-list">
        <img src="https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg" 
        alt="" class="blog-list-img">
        <div class="blog-list-info">
            <a href="{% url 'blog_detail' %}" class="title-link">
                <h1 class="blog-list-title">How to build High converting website in 2024</h1>
            </a>
            <p class="blog-list-publish"> October 27, 2025</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aliquid nihil harum praesentium atque velit...</p>
        </div>
    </div>



    <div class="blog-list">
        <img src="https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg" 
        alt="" class="blog-list-img">
        <div class="blog-list-info">
            <a href="{% url 'blog_detail' %}" class="title-link">
                <h1 class="blog-list-title">How to build High converting website in 2024</h1>
            </a>
            <p class="blog-list-publish"> October 27, 2025</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aliquid nihil harum praesentium atque velit...</p>
        </div>
    </div>


</div>
{% endblock main %}
    