{% load static %}
{% if members %}

<div class="category_name">
  <span class="first_cat">key</span>
  <span class="second_cat">Members</span>
</div>

<div class="leading_member">
  <div class="employee_profile_list">
    
    {% for member in members %}
    {% with linkedin=member.linkedin github=member.github facebook=member.facebook %}

    <div class="employee_profile">

      
      {% if member.image %}
      <img class="employee_img" src="{{member.image.url}}" alt="{{member.name}}">
        {% else %}
        <img class="employee_img" src="{% static 'img/no_img.jpg' %}" alt="No member photo">
      {% endif %}
        
      <div class="employee_name">{{member.name}}</div>
      <div class="employee_position">{{member.designation}}</div>
      <div class="team_member_link">
        
        {% if linkedin %}
        <a class="team_member_link_icon" href="{{ linkedin }}" target="_blank"
          ><i class="bi bi-linkedin" id="team_member_linkedin_id"></i
        ></a>
        {% endif %}

        
        {% if github %}
        <a class="team_member_link_icon"  href="{{ github }}" target="_blank"
          ><i class="bi bi-github" id="team_member_github_id" ></i
        ></a>
        {% endif %}

        
        {% if facebook %}
        <a class="team_member_link_icon" href="{{ facebook }}" target="_blank"
          ><i class="bi bi-facebook" id="team_member_facebook_id" ></i
        ></a>
        {% endif %}

      </div>
    </div>


    {% endwith %}
    {% endfor %}
    
  </div>

</div>

{% endif %}