<div class="category_name">
    <span class="first_cat">Our</span>
    <span class="second_cat">Portfolio</span>
  </div>
  <div class="portfolio_section">
    <div class="portfolio_div">
      <div href="" class="portfolio_image_span">
        <img
          class="project_image"
          src="https://img.freepik.com/free-photo/blog-website-development-data-network-concept_53876-125055.jpg"
          alt=""
        />
      </div>
      <div class="project_name">Digital marketing project in PlantTrends</div>
    </div>

    <div class="portfolio_div">
      <div href="" class="portfolio_image_span">
        <img
          class="project_image"
          src="https://img.freepik.com/free-photo/online-blog_53876-123696.jpg"
          alt=""
        />
      </div>
      <div class="project_name">Digital marketing project in PlantTrends</div>
    </div>
  </div>
  <div class="our_portfolio_button">
    <a class="our_portfolio_link" href="">see more</a>
  </div>