{% load static %}

<div class="category_name" id="abt-vision">
    <span class="first_cat">Our</span>
    <span class="second_cat">Vision</span>
  </div>
  <div class="our_vision_card">
    <img class="subtract" src="{% static 'img/our_vision.svg' %}" alt="" />
    <img
      class="vision_img"
      src="{% static 'img/vision_img.jpg' %}"
      alt=""
    />
    <div class="vision_details">
      Empowering businesses through innovative web development and data-driven
      digital marketing
    </div>
  </div>