{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/career_detail.css' %}">
{% endblock css %}



{% block title %}
    Career Detail
{% endblock title %}



{% block main %}
    <!--Job description header-->

    <div class="role_background">
        <span class="job_name">{{job.title}}</span>
        <span class="job_deadline">Deadline: {{job.deadline}}</span>
        <span class="job_deadline">Job type: {{job.job_type}}, {{job.job_mode}}</span>
        <a href="{% url 'apply_for_job' %}" class="job-apply-btn">Apply</a>
      </div>
  
      <!--Job responsibility-->
      <div class="job_description">
          {{job.detail|safe}}

      </div>

{% endblock main %}
    