{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/career_list.css' %}">
{% endblock css %}


{% block title %}
    Careers
{% endblock title %}



{% block main %}
     <!------------Career header ----------->
     <div class="career_header_wrapper">
        <div class="career_header">
          <div class="career_header_intro">
            <div class="career_header_details">
              <span class="career_header_titles"
                >Be a part of something great</span
              >
              <!-- <span class="career_header_action_titles"
              >Your next big career move</span
            > -->
  
              <div class="career_short_title">Your next big career move</div>
            </div>
            <img
              class="career_header_subtract"
              src="{% static 'img/career_header_subtract.svg' %}"
              alt=""
            />
          </div>
        </div>
        <img class="career_header_img" src="{% static 'img/career_header_3.png' %}" alt="" />
      </div>
  
      <!--------------Open Roles---------->
      <div class="category_name">
        <span class="first_cat">Open</span>
        <span class="second_cat">Roles</span>
      </div>

      
      {% for job in jobs %}
      <div class="position_list_wrapper">
        <span class="position_name">{{job.title}}</span>
        <div class="position_list">
          <span class="role_desc"
            >{{job.short_info}}</span
          >
          <span class="role_deadline">Deadline: {{job.deadline}}</span>
          <span class="role_deadline">Job type: {{job.job_type}}, {{job.job_mode}} </span>
          <div class="job-btn-container">
            <a class="apply_link" href="{{job.get_absolute_url}}">Details</a>
            <a class="apply_link" href="{% url 'apply_for_job' %}">Apply</a>
          </div>
        </div>
      </div>
      {% empty %}
        <div class="empty-job">
          <h2>No job available yet</h2>
        </div>
      {% endfor %}

{% endblock main %}
    