{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LJS7EV04Q0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LJS7EV04Q0');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="shortcut icon"
      href="{% static 'favicon/favicon.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
    {% block css %}
        
    {% endblock css %}
        
    <title> {% block title %}{% endblock title %} | LoopersIT - Your brand, our efforts</title>
</head>
<body>
    {% include 'nav_bar.html' %}
    <div class="base-container">
        
        {% block main %}

        {% endblock main %}

        
       {% include 'footer.html' %}     
    </div>

    <!-- script for navbar -->
    <script>
        function toggle_menu() {
          let hamburger = document.getElementById("menu");
          let bootstrap_icon = document.getElementById("menu_button");
    
          if (hamburger.classList.contains("hide_nav")) {
            hamburger.classList.remove("hide_nav");
    
            bootstrap_icon.className = "bi bi-x";
          } else {
            hamburger.classList.add("hide_nav");
            bootstrap_icon.className = "bi bi-list";
          }
        }
      </script>

      
      {% block js %}
        
      {% endblock js %}
        
</body>
</html>