<div class="footer_background">
  <span class="brand_slogan">Your brand, our efforts</span>
  <ul class="footer_icon">
    <li class="footer_icon_list">
      <a class="footer_icon_link" href="https://facbook.com/loopersit"><i class="bi bi-facebook"></i></a>
    </li>
    <li class="footer_icon_list">
      <a class="footer_icon_link" href="https://www.linkedin.com/company/loopersit/"><i class="bi bi-linkedin"></i></a>
    </li>
    <li class="footer_icon_list">
      <a class="footer_icon_link" href="https://x.com/loopersit"><i class="bi bi-twitter"></i></a>
    </li>
    <li class="footer_icon_list">
      <a class="footer_icon_link" href="https://youtube.com/@loopersit"><i class="bi bi-youtube"></i></a>
    </li>
  </ul>

  <ul class="footer_nav_items">
    <li class="footer_nav_items_list">
      <a class="footer_nav_items_link" href="{% url 'homepage' %}">Home</a>
    </li>
    <li class="footer_nav_items_list">
      <a class="footer_nav_items_link" href="{% url 'about_us' %}">About</a>
    </li>
    <li class="footer_nav_items_list">
      <a class="footer_nav_items_link" href="{% url 'service_page' %}">Services</a>
    </li>
    <li class="footer_nav_items_list">
      <a class="footer_nav_items_link" href="{% url 'contact_us' %}">Contact us</a>
    </li>
    <li class="footer_nav_items_list">
      <a class="footer_nav_items_link" href="{% url 'career_list' %}">Careers</a>
    </li>
    <li class="footer_nav_items_list">
      <a class="footer_nav_items_link" href="{% url 'portfolio' %}">Portfolio</a>
    </li>
  
  </ul>

  <!--------------secondary_link------------->
  <ul class="footer_nav_items">
    
    {% for page in extra_pages %}
      
    <li class="footer_nav_items_list">
      <a class="footer_nav_items_link" href="{{page.get_absolute_url}}">{{page.title}}</a>
    </li>

  {% endfor %}
  

  </ul>
  <!--------------footer end------------>
  <div class="footer_end">
    <a class="footer_logoLink" href="">
      <div class="footer_svgIcon">
        <svg
          class="footer_logoIcon"
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
        >
          <rect width="25.7234" height="25.7234" rx="10" fill="#2A1D51" />
          <rect
            x="7.71704"
            y="13.8789"
            width="5.0747"
            height="5.0747"
            transform="rotate(-45 7.71704 13.8789)"
            fill="#23ADAD"
          />
          <rect
            x="13.8906"
            y="15.9355"
            width="5.0747"
            height="5.0747"
            transform="rotate(-45 13.8906 15.9355)"
            fill="white"
          />
          <rect
            x="11.8328"
            y="9.76172"
            width="5.0747"
            height="5.0747"
            transform="rotate(-45 11.8328 9.76172)"
            fill="#23ADAD"
          />
          <rect
            x="3.60132"
            y="9.76172"
            width="5.0747"
            height="5.0747"
            transform="rotate(-45 3.60132 9.76172)"
            fill="white"
          />
          <circle cx="12.6045" cy="13.1193" r="11.59" stroke="white" />
          <path
            d="M19.7482 22.6317L18.1074 24.97L18.3652 23.3874L16.8941 22.7495L19.7482 22.6317Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="footer_logoLetter">
        <span class="footer_logoLetter_first">Loopers</span>
        <span class="footer_logoLetter_second">IT</span>
      </div>
    </a>
    <span class="credit">Developed by loopersIT</span>
    <span class="location">Mirpur, Dhaka-1100, Bangladesh
      <br>
      <a class="loopers_mail" href="mailto:support@loopersit.com">support@loopersit.com</a>
    </span>
    
  </div>
</div>