<nav class="navbar">
  <!-- <div class="logo"> -->
  <a class="logoLink" href="{% url 'homepage' %}">
    <div class="svgIcon">
      <svg class="logoIcon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <rect width="25.7234" height="25.7234" rx="10" fill="#2A1D51" />
        <rect x="7.71704" y="13.8789" width="5.0747" height="5.0747" transform="rotate(-45 7.71704 13.8789)"
          fill="#23ADAD" />
        <rect x="13.8906" y="15.9355" width="5.0747" height="5.0747" transform="rotate(-45 13.8906 15.9355)"
          fill="white" />
        <rect x="11.8328" y="9.76172" width="5.0747" height="5.0747" transform="rotate(-45 11.8328 9.76172)"
          fill="#23ADAD" />
        <rect x="3.60132" y="9.76172" width="5.0747" height="5.0747" transform="rotate(-45 3.60132 9.76172)"
          fill="white" />
        <circle cx="12.6045" cy="13.1193" r="11.59" stroke="white" />
        <path d="M19.7482 22.6317L18.1074 24.97L18.3652 23.3874L16.8941 22.7495L19.7482 22.6317Z" fill="white" />
      </svg>
    </div>
    <div class="logoLetter">
      <span class="logoLetter_first">Loopers</span>
      <span class="logoLetter_second">IT</span>
    </div>
  </a>
  <!-- </div> -->
  <div class="navItems">
    <li class="nav_lists">
      <button class="navItemsMenu_link" onclick="toggle_menu()">
        <i id="menu_button" class="bi bi-list"></i>
      </button>
      <div class="menu_list hide_nav" id="menu">
        <a class="nav_items_link {% if active == 'service' %} active{% endif %}" href="{% url 'service_page' %}">
          Services </a>

        <a class="nav_items_link {% if active == 'portfolio' %} active{% endif %}" href="{% url 'portfolio' %}">
          Portfolio </a>

        <a class="nav_items_link {% if active == 'review' %} active{% endif %}" href="{% url 'reviews' %}"> Reviews </a>

        <a class="nav_items_link {% if active == 'career' %} active{% endif %}" href="{% url 'career_list' %}"> Careers
        </a>

        <a class="nav_items_link {% if active == 'contact' %} active{% endif %}" href="{% url 'contact_us' %}"> Contact
          us </a>

        <a class="nav_items_link {% if active == 'about' %} active{% endif %}" href="{% url 'about_us' %}"> About us
        </a>
      </div>
    </li>
  </div>
</nav>